.title-contact {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.title-contact img {
    width: 15%;
}

.content-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    gap: 20px;
}

.contact-left {
    width: 900px;
    height: 500px;
    background: #FDE8B3;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 10px 0px 0px #FFCA7B;

}

.contact-left-egde {
    height: 100%;
    border-radius: 23px;
    border: 3px dashed #FFB489;
    padding: 40px;
}



.text-contact-left {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #23221F;
    opacity: 0.7;
}

.form-contact {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.box-contact {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.box-contact input {
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 10px;
    border: none;
    outline: none;
    height: 40px;
    padding: 0 15px;

}

.input-contact-1 {
    width: 250px;
}

.input-contact-2 {
    flex: 1;
}

.box-textarea textarea {
    width: 795px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 15px;
    resize: none;
}

.box-contact-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.box-contact-button .btn-contact {
    background: #FF000A;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    box-shadow: 0 8px 0px 0px #BD000B;
    font-family: 'Sigmar', cursive;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #FFFFFF;

}

.contact-right {
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item-contact-right {
    background: #FDE8B3;
    border-radius: 35px;
    padding: 8px;
    box-shadow: 0 10px 0px 0px #FFCA7B;
}

.item-contact-right-egde {
    width: 100%;
    height: 120px;
    border: 3px dashed #FFB489;
    background: #FFF6D4;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 20px;

}

.text-item-contact-right h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    display: flex;
    color: #12265A;
}

.alex-contact-1 {
    position: absolute;
    top: 39%;
    left: 0.5%;
    width: 13%;
}

/* POPUP */
#myModal {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    width: 472px;
    height: 169px;
    background: #FFFFFF;
    border-radius: 24px;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    position: relative;
}

/* The Close Button */
.close {
    color: #FF8A00;
}