@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
    position: relative;
}

p, a, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    height: 97vh;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-position-y: -75px;
    margin: 0 30px;
    position: relative;
    padding-top: 90px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


header {
    width: 100%;
    height: 90px;
    background-color: #ED7200;
    border-bottom-left-radius: 70% 40px;
    border-bottom-right-radius: 70% 40px;
    box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 999;
}

.header-start a img {
    width: 190px;
    height: 70px;
}

.memu-header {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.item-menu-header {
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    color: #FBE3CC;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
}

.active-item, .item-menu-header:hover {
    text-decoration: none;
    border: 2px solid #FFFFFF;
    color: #fff;
}

.header-end {
    display: flex;
    align-items: center;
    gap: 8px
}

.header-end img {
    width: 32px;
    height: 32px;
}

.header-end p {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

/*home*/

.dam-sen-park {
    position: absolute;
    left: 10%;
    top: 16%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.dam-sen-park .logo {
    width: 25%;
}

.text-dam-sen-park .text-damsen {
    width: 70%;
}

.text-dam-sen-park .text-park {
    width: 40%;
    margin-top: 10px;
}

.content-home {
    top: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.content-left {
    background: #FDE8B3;
    width: 900px;
    height: 500px;
    border-radius: 30px;
    margin-right: -29px;
    padding: 10px;
    box-shadow: 0 10px 2px -2px #FFCA7B;
}

.area-content-left {
    background: #FFF6D4;
    border-radius: 30px;
    height: 100%;
    border: 3px dashed #FFB489;

}

.content-midlle {
    height: 420px;
}

.content-right {
    background: #FDE8B3;
    width: 470px;
    height: 500px;
    border-radius: 30px;
    margin-left: -49px;
    padding: 10px;
    box-shadow: 0 10px 2px -2px #FFCA7B;
    position: relative;
}

.area-content-right {
    background: #FFF6D4;
    height: 100%;
    border: 3px dashed #FFB489;
    padding-top: 50px;
    border-radius: 30px;
    padding: 50px 20px;
}

.area-content-right form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area-content-left {
    padding: 25px 35px;
}

.text-content-left p {
    font-weight: 500;
    font-size: 16px;
    color: #23221F;
    opacity: 0.7;
}

.area-star-text {
    margin-top: 30px;
}

.area-star-text div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.area-star-text div p {
    font-weight: 700;
    font-size: 18px;
    color: #23221F;
    opacity: 0.8;
    padding: 7px 0;
}

.area-star-text div img {
    width: 32px;
}


.heading-content-right {
    Width: 200px;
    Height: 57px;
    background-image: url('/images/vecuaban.png');
    background-position: center;
    background-size: 100%;
    position: absolute;
    top: -13px;
    left: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-content-right p {
    font-family: 'Sigmar', cursive;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.input-box {
    background: #FFFFFF;
    height: 45px;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #23221F;

}

.select-mouse {
    cursor: pointer;
}

.btn-down {
    width: 47px;
    height: 44px;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url('/images/btndown.svg');
    background-size: cover;
    box-shadow: 0 5px 2px -2px #E0A062;
    border-radius: 10px;
    cursor: pointer;
}

.box-1 {
    width: 325px;
}

.box-2 {
    width: 140px;
}

.box-3 {
    width: 167px;
}

.box-4 {
    width: 100%;
}

.btn-calendar {
    width: 47px;
    height: 44px;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url('/images/calendar.svg');
    background-size: cover;
    box-shadow: 0 5px 2px -2px #E0A062;
    border-radius: 10px;
    cursor: pointer;
}

.input-box::placeholder {
    font-weight: 500;
    font-size: 16px;

    color: #989A9C;
}

.box-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-datve {
    width: 280px;
    height: 45px;
    background: #FF000A;
    border: none;
    border-radius: 10px;

    font-family: 'Sigmar', cursive;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    box-shadow: 0 7px 2px -1px rgba(165, 15, 15);
}

/*  */
.bg-lisa {
    position: absolute;
    top: 54%;
    left: 160px;
    width: 13%;
    z-index: 2;
}

.bg-render {
    position: absolute;
    top: 6%;
    right: 7.5%;
    width: 33%;
    z-index: 0;
}

.bg-18451 {
    position: absolute;
    top: 30%;
    left: 0.6%;
    width: 7%;
}

.bg-18451_1 {
    position: absolute;
    top: 18%;
    left: 43%;
    width: 7%;
}

.bg-18451_2 {
    position: absolute;
    top: 11%;
    left: 55%;
    width: 6%;
}

.bg-18451_3 {
    position: absolute;
    top: 37.5%;
    right: 0;
    width: 7%;
}

.bg-18451_4 {
    position: absolute;
    top: 82%;
    right: 3.5%;
    width: 6%;
}

.bg-18451_5 {
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 3.5%;
}

/* CALENDAR */
.calendar-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.calendar {
    max-width: 518px;
    margin: auto;
    overflow: hidden;
    background: #fff;
    box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
    border-radius: 32px;
    font-family: 'Montserrat';
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 99;
    padding: 20px 40px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 16px;
}

.header h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #23221F;
    margin: 0;
}

.header button {
    border: none;
    background: transparent;
}



.weekdays {
    display: flex;
    justify-content: center;
}

.weekdays div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    font-weight: 700;
    font-size: 24px;
    color: #FF8A00;
}

.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.days div {
    width: 50px;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.days div.today {
    background: #FF8A00;
    color: #FFFFFF;
    border-radius: 50%;
}

.days div.selected {
    background-color: #fb432f;
    color: #FFFFFF;
    border-radius: 50%;
}

.days div.prev-month {
    background-color: transparent;
    color: transparent;
}

.days div.next-month {
    background-color: transparent;
    color: transparent;
}


.dropdown-content {
    display: none;
    position: absolute;
    z-index: 99;
    background: #fff;
    top: 46px;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-content .item-service {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .item-service:hover {
    background-color: #ff9532;
    color: #fff;
}

.show {
    display: block;
}

.p{
    font-style: none;
}

.a{
    font-style: none;
}